._ {
	//margin: 7vh 5vw;
}

.poster {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.paper {
	//margin: 5vh auto;
	width: 100%;
	height: 100vh;
}

.buttonsContainer {
	display: flex;
	justify-content: space-between;
}
